{% extends "base.html" %}
{% block content %}
  <h2>Register</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.first_name.label }} {{ form.first_name() }}
    </div>
    <div>
      {{ form.last_name.label }} {{ form.last_name() }}
    </div>
    <div>
      {{ form.mobile_number.label }} {{ form.mobile_number() }}
    </div>
    <div>
      {{ form.email.label }} {{ form.email() }}
    </div>
    <div>
      {{ form.password.label }} {{ form.password() }}
    </div>
    <div>
      {{ form.confirm_password.label }} {{ form.confirm_password() }}
    </div>
    <button type="submit">Register</button>
  </form>
{% endblock %}
